body {
  background:  'yellow';
  height: 100%;
}

.scoreboard {
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  color: gold;
  background: #3D3535;
  padding: 2em;
}


.gameboard {
  margin-left: 25%;
  margin-top: 5%;
  background-image: url(temple.JPG);
  background-repeat: no-repeat;
}

image.kareem {
}

